/* ROOT FILE */
@import url(/eriasoverflow/static/eriasoverflow/root.css);


.main_header{
    text-align: center;
    color: var(--blue-color-hsl);
    font-size: var(--h2-font-size);
}

.question_container{
    margin: 1rem;
    box-shadow: 0 0 6px var(--shadow-color);
    border-radius: 1.5rem;
}

.question_content{
    padding: 1rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
    padding-right: .75rem;
}

.question_header{
    font-size: var(--h3-font-size);
}

.question_date{
    text-align: right;
    font-size: var(--smaller-font-size);
    padding-top: .1rem;
    padding-right: .25rem;
    padding-bottom: .1rem;
}

.question_border{
    border-top: .1rem solid var(--border-color);
    padding-top: .1rem;
}

.question_text{
    padding-top: .6rem;
}

.code_content{
    padding: 1rem;
    padding-left: .5rem;
}

.code_text{
    background-color: var(--code-color);
    padding: .5rem;
    padding-right: 1rem;
    border-radius: .70rem;
    width: fit-content;
}

.user{
    padding-top: .5rem;
    display: flex;
    justify-content: flex-end;
}

.user_container{
    display: flex;
    gap: .5rem;
    padding: .35rem;
    box-shadow: 0 0 6px var(--shadow-color);
    border-radius: 1rem;
    width: fit-content;
}

.user_img{
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-top: .35rem;
}

.user_stats{
    color: var(--blue-color-hsl);
}

.answer_header{
    margin-left: 2rem;
    font-size: calc(var(--h2-font-size) - .25rem);
}

.answer_date{
    text-align: right;
    font-size: var(--smaller-font-size);
    padding-top: .1rem;
    padding-right: 1.75rem;
    margin: .25rem;
}

.answer_subcontainer{
    margin-top: 0;
}

.your_answer_styling{
    padding-left: .75rem;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.your_answer_input{
    border: none;
    outline: none;
    font-size: var(--h3-font-size);
    background-color: var(--body-color);
    padding-top: .5rem;
}

.your_answer_input{
    width: 100%;
    resize: none;
    overflow: hidden;
}

.your_answer_button{
    margin-top: .45rem;
    margin-bottom: .5rem;
    padding: .25rem;
    border-radius: .3rem;
    background-color: var(--blue-color-hsl);
}

.submit_button{
    color: white;
}