/* ROOT FILE */
@import url(/eriasoverflow/static/eriasoverflow/root.css);


/* Heading */
.main_header{
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--first-color);
}

.left_sidebar_container{
    display: none;
}

.right_sidebar_container{
    display: none;
}

/* QUESTION */
.question_main{
    margin-left: 0rem;
}


.question_container{
    margin: 1rem;
    box-shadow: 0 0 6px var(--shadow-color);
    border-radius: 1.5rem;
    height: fit-content;
}

.question_content{
    padding: .75rem;
    padding-left: 1rem;
    display: flex;
}

.question_metadata{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .45rem 1rem;
    max-height: max-content;
}

.question_icon{
    font-size: 1rem;
}

.question_data{
    margin-left: 1rem;
    width: 100%;
}

.question_meta{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.question_title{
    color: var(--first-color-light);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.question_subtitle{
    font-size: var(--small-font-size);
}

.question_metatags{
    padding-top: .5rem;
    font-size: var(--smaller-font-size);
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.question_tags{
    display: flex;
    gap: .45rem;
    height: 20px;
    flex-wrap: wrap;
    margin-top: auto;
}

.question_tag{
    width: fit-content;
    padding-right: .2rem;
    padding-left: .2rem;
    border-radius: .45rem;
    background-color: var(--tag-color);
}

.question_tag:hover{
    background-color: var(--tag-color-darker)
}

.question_date{
    font-size: var(--smaller-font-size);
    justify-content: flex-end;
    padding-right: .3rem;
    padding-left: .5rem;
    margin-top: auto;
}

/* MEDIA QUERIES */
/* SMALL DEVICES (GALAXY FOLD) */
@media screen and (max-width: 350px){
    .question_container{
        margin: .5rem;
    }

    .question_content{
        padding-left: .5rem;
        padding-right: .25rem;
    }

    .question_tags{
        display: flex;
        gap: .45rem;
        height: 20px;
        flex-wrap: wrap;
        margin-top: 0;
    }
    
    .main_header{
        font-size: var(--h2-font-size);
    }

    .question_title{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
    }

    .question_subtitle{
        font-size: var(--smaller-font-size);
    }

    .question_metadata{
        height: max-content;
    }

    .question_data{
        margin-left: .5rem;
    }

    .question_meta{
        font-size: var(--smaller-font-size);
    }
}

/* MEDIUM DEVIES */

@media screen and (min-width: 768px) {
    .main_header{
        text-align: left;
        margin-left: 5.7rem;
    }

    .main_container{
        display: flex;
    }

    .question_main{
        margin-left: 4rem;
        margin-right: 1rem;
        width: 100%;
    }
    
    .left_sidebar_container{
        position: fixed;
        background-color: var(--first-color);
        border-radius: .7rem;
        padding: .8rem;
        padding-bottom: 1rem;
        margin-top: 1.1rem;
        margin-left: .4rem;
        height: fit-content;
        visibility: unset;
        display: unset;
    }
    
    .left_sidebar_content{
        display: flex;
        flex-direction: column;
        color: white;
        gap: 1rem;
        font-size: calc(var(--h3-font-size) - .1rem);
    }
    
    .left_sidebar_border{
        border-top: .05rem solid white;
    }
}

/* LARGE DEVICES */
@media screen and (min-width: 1024px){
    .main_header{
        font-size: calc(var(--h1-font-size) + .5rem);
        margin-left: 6.5rem;
    }

    .left_sidebar_container{
        padding-bottom: 10rem;
        margin-left: .75rem;
    }

    .left_sidebar_content{
        font-size: calc(var(--h3-font-size));
    }

    .question_main{
        padding-left: auto;
        margin-right: auto;
        width: 74%;
    }

    .right_sidebar_container{
        display: grid;
        transform: translateY(-1rem);
        margin-right: 1.3rem;
    }

    .right_sidebar_rectangle{
        padding: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 0 6px var(--shadow-color);
        border-radius: 1rem;
    }

    .right_sidebar_rectangle_text{
        color: black;
        text-align: center;
        font-size: calc(var(--normal-font-size) - .05rem);
    }

    .new_question{
        padding: .2rem;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-bottom: .5rem;
        margin-left: 2.2rem;
        background-color: var(--first-color);
        border-radius: .5rem;
        width: max-content;
        font-size: var(--smaller-font-size);
        font-weight: var(--font-semi-bold);
        text-align: center;
    }

    .new_question_button{
        color: white;
    }
}

@media screen and (min-width: 1124px){
    .right_sidebar_container{
        margin-right: 2rem;
    }

    .question_main{
        margin-left: 6rem;
        margin-right: auto;
        width: 72%;
    }

    .left_sidebar_container{
        margin-left: 1.4rem;
    }

    .main_header{
        margin-left: 7.5rem;
    }
}

@media screen and (min-width: 1220px){
    .left_sidebar_list{
        display: flex;
        align-items: center;
        gap: .75rem;
    }
    
    .left_sidebar_text{
        font-size: var(--normal-font-size);
    }

    .left_sidebar_container{
        padding-right: 3rem;
    }
    
    .left_sidebar_border{
        width: 135%;
    }

    .question_main{
        margin-left: 11rem;
        margin-right: 1rem;
    }

    .main_header{
        margin-left: 12.5rem;
    }
}