/* ROOT FILE */
@import url(/eriasoverflow/static/eriasoverflow/root.css);


.main_title{
    padding-top: 3rem;
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--first-color);
}

.login_content{
    display: block;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.login_form{
    margin: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 6px var(--shadow-color);
    border-radius: 1rem;
}

.login_inputs{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    padding-top: 1.5rem;
}

.login_input{
    background-color: var(--body-color);
    border: .15rem solid var(--login-form-border);
    border-radius: .65rem;
    padding: .5rem;
    outline: none;
    font-size: var(--normal-font-size);
}

.login_button{
    text-align: center;
    padding: 1.5rem;
}

.login_button_link{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    background-color: var(--blue-color-hsl);
    font-weight: var(--font-semi-bold);
    border-radius: .75rem;
}

.login_info{
    text-align: center;
}

.login_register{
    color: var(--blue-color-hsl);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.login_register:hover{
    color: var(--blue-color-hsl-darker);
}

@media screen and (max-width: 350px){
    .login_register{
        font-size: var(--smaller-font-size);
    }

    .login_input{
        font-size: var(--small-font-size);
    }

    .login_button{
        padding: 1rem;
        font-size: var(--small-font-size);
    }

    .login_button_link{
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
}

@media screen and (min-width: 512px) {
    .login_content{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

@media screen and (min-width: 612px) {
    .login_content{
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    .login_content{
        padding-right: 6rem;
        padding-left: 6rem;
    }
}

@media screen and (min-width: 808px){
    .login_content{
        padding-right: 8.5rem;
        padding-left: 8.5rem;
    }
}