<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" href="/eriasoverflow/static/eriasoverflow/question/css/styles.css">
    <!-- Unicons (icons) from iconscout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>{title} - eriasoverflow</title>
    
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav_logo">Elias Cerne</a>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list grid">
                    <li class="nav_item">
                        <a href="#home" class="nav_link active-link">
                            <i class="uil uil-analytics nav_icon"></i> Stats
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="#about" class="nav_link">
                            <i class="uil uil-server nav_icon"></i> Server
                        </a>
                    </li>
                    
                    <li class="nav_item">
                        <a href="/eriasoverflow/Templates/eriasoverflow/html/login.html" class="nav_link">
                            <img src="/eriasoverflow/static/eriasoverflow/home/img/profile_picture.png" class="user_img" alt="{username}"> Profile
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="#qualification" class="nav_link">
                            <i class="uil uil-estate nav_icon"></i> Home
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="#services" class="nav_link">
                            <i class="uil uil-cloud-question nav_icon"></i> Live
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="#contact" class="nav_link">
                            <i class="uil uil-tag nav_icon"></i> Tags
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav_close" id="nav-close"></i>

                <form action="" class="search">
                        <div class="search_content">
                            <i class="uil uil-search search_icon"></i>
                            <input type="text" placeholder="Search" class="search_input">
                        </div>
                </form>
            </div>

            <div class="nav_btns">

                <div class="nav_toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="question section" id="question">
            <h1 class="main_header">Question</h1>

            <div class="question_container">
                <div class="question_content">
                    <h2 class="question_heading">How to add a tag into html and parse a file for whatever reason.</h2>

                    <div class="question_date">
                        <p class="question_date">Asked 11/09/2021 18:50</p>
                    </div>
                    <div class="question_border"></div>

                    <div class="question_text">
                        <p class="normal_text">Hello Guys,</br>
                            I have a problem. I am a newbie in eriasoverflow and programming.</br>
                            I need your help.</br>
                            I am stuck in html.</br>
                            So this is my shitty line of code:</br>
                        </p>
                        <div class="code_content">
                            <p class="code_text">&lt;
                                h1 class=”h1”&gt;
                                Hello world
                                &lt;/h1&gt;
                            </p>
                        </div>
                        <p class="normal_text">I do not know what is not working here :(</br>
                            Looking forward for a answer.</p>
                    </div>

                    <div class="question_user">
                        <img src="/eriasoverflow/static/eriasoverflow/home/img/profile_picture.png" class="user_img" alt="{username}">

                        <div class="user_name_stats">
                            <p class="user_name">erias</p>
                            <p class="user_stats">1,233</p>
                        </div>

                        <div class="question_upvotes">
                            <i class="uil uil-angle-up"></i>
                            <p class="question_upvotes_stats">22</p>
                        </div>

                        <div class="question_downvotes">
                            <i class="uil uil-angle-down"></i>
                            <p class="question_downvotes_stats">22</p>
                        </div>

                        <div class="question_views">
                            <i class="uil uil-eye"></i>
                            <p class="question_views_stats">22</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/eriasoverflow/static/eriasoverflow/question/js/main.js"></script>
</body>
</html>