/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root {
    --header-height: 3rem;

    --max-root-width: 1500px;
    --max-nav-width: 1500px;

    /* Colors */
    /* Change base color */
    --root-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    --blue-color: 223;

    /* HSL color mode */
    --first-color: hsl(var(--root-color), 69%, 61%);
    --first-color-second: hsl(var(--root-color), 69%, 61%);
    --first-color-alt: hsl(var(--root-color), 57%, 53%);
    --first-color-light: hsl(var(--blue-color), 92%, 64%);
    --first-color-lighter: hsl(var(--root-color), 92%, 85%);
    --title-color: hsl(var(--root-color), 8%, 15%);
    --text-color: hsl(var(--root-color), 8%, 45%);
    --text-color-light: hsl(var(--root-color), 8%, 65%);
    --input-color: hsl(var(--root-color), 70%, 96%);
    --body-color: hsl(var(--root-color), 60%, 99%);
    --scroll-bar-color: hsl(var(--root-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--root-color), 12%, 80%);
    --scroll-thumb-color-hover: hsl(var(--root-color), 8%, 65%);
    --container-color: white;
    --shadow-color: hsl(var(--root-color), 92%, 64%, 48%);
    --tag-color: hsl(var(--blue-color), 45%, 85%);
    --tag-color-darker: hsl(var(--blue-color), 60%, 80%);

    /* Font and typography */
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1rem;
    --h3-font-size: .9rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.section{
    padding: 1rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle{
    text-align: center;
}

/* LAYOUT */
.container{
    max-width: var(--max-root-width);
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* NAV */
.nav{
    max-width: var(--max-nav-width);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover{
    color: var(--first-color);
}

.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav_toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav_list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}

.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_icon{
    font-size: 1.2rem;
}

.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .85rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover{
    color: var(--first-color-alt);
}

/* show nav */
.show-menu{
    bottom: 0;
}

.user_img{
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
}

/* SEARCH FORM */
.search{
    width: 80%;
    left: 10%;
    padding-right: 1rem;
    padding-top: 1rem;
    position: absolute;
}

.search_content{
    background-color: var(--body-color);
    border-radius: .5rem;
    border: .2rem solid #BEBEBE;
    display: flex;
    padding-left: .5rem;
    padding-right: .2rem;
}

.search_icon{
    padding-right: .2rem;
    color: var(--text-color);
    font-weight: var(--normal-font-size);
}

.search_input{
    width: 100%;
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
}

.questions_title{
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--first-color);
}

.question{
    margin: 1rem;
    box-shadow: 0 0 6px var(--shadow-color);
    border-radius: 1.5rem;
}

.question_content{
    padding: .75rem;
    padding-left: 1rem;
    display: flex;
}

.question_metadata{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .45rem 1rem;
}

.question_icon{
    font-size: 1rem;
}

.question_data{
    margin-left: 1rem;
}

.question_meta{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.question_title{
    color: var(--first-color-light);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.question_subtitle{
    font-size: var(--h3-font-size);
}

.question_tags{
    font-size: var(--smaller-font-size);
    display: flex;
    gap: .45rem;
}

.question_tag{
    width: fit-content;
    padding-right: .2rem;
    padding-left: .2rem;
    border-radius: .45rem;
    background-color: var(--tag-color);
}

.question_tag:hover{
    background-color: var(--tag-color-darker)
}